/**
 * AJAX indicator
 */
.wc-paytrail-throbber {
  display: inline-block;
  width: auto;
  height: 30px;
  line-height: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: 10px;
  vertical-align: top;
}

.wc-paytrail-throbber.processing {
  background-image: url("../images/ajax-indicators/wpspin_light.gif");
  width: 20px;
}

.wc-paytrail-throbber.ok .dashicons, .wc-paytrail-throbber.error .dashicons {
  line-height: 30px;
}

.wc-paytrail-throbber.ok {
  color: #7ad03a;
}

.wc-paytrail-throbber.error {
  color: #a00;
}

/**
 * Apple Pay verification file
 */
.wc-paytrail-ap-ver-file a.ver-file-link {
  text-decoration: none;
}

.wc-paytrail-ap-ver-file a.ver-file-link .dashicons-external {
  font-size: 14px;
}

.wc-paytrail-ap-ver-file a.ver-file-link:focus {
  outline: none;
  box-shadow: none;
}

.wc-paytrail-ap-ver-file mark {
  background: transparent !important;
}

.wc-paytrail-ap-ver-file mark.yes {
  color: #7ad03a;
}

.wc-paytrail-ap-ver-file mark.error {
  color: #a00;
}

/**
 * Admin labels
 */
.wc-paytrail-label {
  display: inline-block;
  color: #454545;
  background: #e5e5e5;
  border-radius: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  line-height: 1;
  padding: 8px 10px;
  white-space: nowrap;
  max-width: 100%;
  margin-right: 5px;
}

.wc-paytrail-label.wc-paytrail-label-ok {
  background: #c8d7e1;
  color: #003d66;
}

.wc-paytrail-label.wc-paytrail-label-error {
  background: #eba3a3;
  color: #570000;
}

.wc-paytrail-label.wc-paytrail-label-info {
  background: #c6e1c6;
  color: #2c4700;
}

/**
 * Invoice status
 */
.wc-paytrail-invoice-status .wc-paytrail-throbber {
  margin-left: 0;
}

.wc-paytrail-invoice-status .wc-paytrail-error {
  color: #a00;
  display: block;
  margin-top: 5px;
}
